USE_SAMSUNG_REMOTE=1
SAMSUNG_TV_IP=192.168.1.192
SAMSUNG_REMOTE_NAME=TVAutomation_2026   # change name to force new pairing prompt
SAMSUNG_TV_PORT=8002
SAMSUNG_TV_TIMEOUT_MS=15000
SAMSUNG_TV_KEYS_DELAY_MS=100
RMUS_USERNAME=
RMUS_PASSWORD=